---
---

:root {
    --piedmont-green: #144734;
    --piedmont-gold: #B5A268;
    --piedmont-black: #382F2D;
    --piedmont-darkgray: #686158;
    --piedmont-gray: #A8A8A9;
    --my-padding: 24px;
}

@font-face {
    font-family: 'Vollkorn';
    src: url({{ site.url }}/fonts/vollkorn-v13-latin-regular.woff2);
}

@font-face {
    font-family: 'Lato';
    src: url({{ site.url }}/fonts/lato-v17-latin-regular.woff2);
}
 
html {
    background-color: var(--piedmont-green);
    color: var(--piedmont-green);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body {
    margin: 0px 0px 0px 0px;
}

#header-wrapper {
    width: 100%;
}

header {
    color: var(--piedmont-gold);
    padding: var(--my-padding);
    font-family: 'Vollkorn', serif;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    display: flex;
    justify-content: center;
}

#h-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

h3  {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

header h1, h2 {
    font-weight: normal;
    margin: 0px 0px 0px 0px;
}

header a {
    font-family: 'Vollkorn', serif;
    text-decoration: none;
}

header a:hover {
    color: white;
}

nav {
    flex-grow: 1;
    padding: 0px;
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    column-count: 2;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

nav li {
    text-align: center;
}

nav a {
    font-size: 20px;
}

#main-wrapper {
    border-top: 1px solid var(--piedmont-black);
    border-bottom: 1px solid var(--piedmont-black);
    background-color: white;
    width: 100%;
}

main {
    padding: var(--my-padding);
    margin: 0px auto 0px auto;
    max-width: 960px;
    overflow: auto;
}

#front-page {
    display: flex;
}

#front-text {
    flex-grow: 1;
}

#front-pic {
    flex-grow: 1;
    margin-top: -24px;
    margin-bottom: -24px;
}

main li {
    padding: 3px;
}

h3, h4 {
    font-family: 'Vollkorn', serif;
}

a {
    color: var(--piedmont-gold);
    text-decoration: none;
}

a:hover {
    color: var(--piedmont-green);
}

#headshot {
    border-left: 1px solid var(--piedmont-black);
    border-right: 1px solid var(--piedmont-black);
    float: right;
    max-width: 480px;
}

#tree {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    nav {
	margin-top: var(--my-padding);
    }

    header, nav li {
	flex-direction: column;
    }

    #front-page {
	flex-direction: column-reverse;
    }

    #front-pic {
	margin-bottom: var(--my-padding);
	margin-left: -24px;
	margin-right: -24px;
    }

    #headshot {
	max-width: 100%;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid var(--piedmont-black);
    }
}
