$piedmont-green: #144734;
$piedmont-gold: #b5a268;
$piedmont-darkgray: #696057;
$piedmont-black: #3e3935;
$piedmont-lightgray: #b2b2b2;

body {
    background: white;
    color: $piedmont-black;
}

header {
    color: white;
    background: $piedmont-green;
    margin: auto;
}

h2, h3, h4, h5, h6 {
    color: $piedmont-green;
}

a {
    color: $piedmont-green;
}

a:hover {
    color: lighten($piedmont-green, 10%);
}


main {
    background: white
}
