<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doug Torrance</title>
    <link rel="stylesheet" href="{{ site.url }}/css/style.css">
    <link rel="stylesheet" href="{{ site.url }}/css/fontawesome.min.css">
    <link rel="stylesheet" href="{{ site.url }}/css/solid.min.css">
    <link rel="icon" type="image/x-icon" href="{{ site.url }}/img/favicon.ico">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  </head>
  <body>
    <div id="header-wrapper">
      <header>
	<div id="h-wrapper">
	  <h1><a href="{{ site.url }}">Doug Torrance</a></h1>
	  <h2>Associate Professor of Mathematics<br>
            <a href="https://www.piedmont.edu">Piedmont University</a></h2>
	</div>
	<nav>
	  <ul>
            <li><a href="{{ site.url }}/teaching">Teaching</a></li>
            <li><a href="{{ site.url }}/research">Research</a></li>
	  </ul>
	</nav>
      </header>
    </div>
    <div id="main-wrapper">
      <main>
	{{ content }}
      </main>
    </div>
  </body>
</html>
