<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doug Torrance</title>
    <link rel="stylesheet" href="{{ site.url }}/css/style.css">
    <link rel="icon" type="image/x-icon" href="{{ site.url }}/img/favicon.ico">
  </head>
  <body>
    <div class="content-wrapper">
    <header>
      <h1><a href="{{ site.url }}">Doug Torrance</a></h1>
      <h2>Associate Professor of Mathematics<br>
        <a href="https://www.piedmont.edu">Piedmont College</a></h2>
    </header>
    <nav>
      <ul>
        <li><a href="{{ site.url }}/teaching">Teaching</a></li>
        <li><a href="{{ site.url }}/research">Research</a></li>
      </ul>
    </nav>
    <main>
      {{ content }}
    </main>
    </div>
  </body>
</html>
